
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#users-container {
    display: flex;
    flex-wrap: wrap;
}
.user-block {
    display: inline-block;
    border: 1px solid #d4dbe8;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    width: calc(50% - 40px);
    box-sizing: border-box;
    background-color: #ccd6ec;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.user-block button {
    background-color: #f3f3f6;
    display: block;
    margin-top: 10px;
    color: #66a3f3;
    /*border:none;*/
    border-radius: 10px;

}





