
.user-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.post-block {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    width: calc(20% - 20px);
    box-sizing: border-box;
}
.post-block button {
    margin-top: 10px;
}
.center-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    text-align: center;
}